/* Personalizações extras do template */
/* Muda cor do background do header-panel */
.header-panel {
    background-color: #3385ff;
}

/* Personaliza a fonte do site */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Raleway.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/RalewayBold.ttf) format('truetype');
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    line-height:1.1;
    color:inherit
}
